body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e5ffe8, #a0b49b);
    
}
.d-flex{
    padding-left: 200%;
}


a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(79, 79, 252);
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgb(125, 184, 106);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(47, 42, 42, 0.765);
  cursor: pointer;
}

.About-section{
    margin-top: 300px;
    text-align: center;
}
#main{
    margin-top: 20%;
    text-align: center;
}
#about{
    margin-top: 15%;
    display: flex;
}

#card{
    margin-top: 15%; 
}

/* copy */

footer {
     display: flex;
     flex-direction: column;
     color: white;
     background-color: rgb(79, 79, 252);
     justify-content: center;
     align-items: center;
 }

 #contactForm {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 1px solid #435adf;
     box-shadow: 0.5px 0.5px 6px #9b83f1;
     padding: 2rem;
     border-radius: 5px;
     width: 40%;
 }

 .form_content {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;

 }

    a {
        text-decoration: none;
        color: white;
    }

    .connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #contact{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width: 50%;
        border: 1px solid rgb(43, 43, 62);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgb(46, 127, 19);
    }
    input,textarea{
        width: 100%;
    }

    #contact p{
        color: red;
    }

   .services .col{
    display: flex;
    justify-content: center;
}